<h1>
  Create a New To Do List
</h1>

<%= form_for @todo do |f| %>
  <%= f.label :title%>
  <%= f.text_field :title %>

  <br />

  <%= f.label :description %>
  <%= f.text_field :description %>

  <br />

<%= f.submit%>
<% end %>

<%= link_to 'Home', root_path %> 